---
import Layout from "../layouts/Layout.astro";

const meta = {
  title: "Home",
  description: "The personal website of Collin Henderson",
};
---

<Layout meta={meta}>
  <section class="intro">
    <h2 class="text-3xl leading-normal">
      <span class="block font-bold text-brand">Hi there!</span>
      <span class="font-light text-gray-500 dark:text-gray-300"
        >I'm Collin Henderson</span
      >
    </h2>
    <div class="mt-8 space-y-6 sm:space-y-8">
      <div>
        <h3
          class="inline-block rounded-sm bg-red-100 px-2 py-1 text-sm font-semibold tracking-wide text-brand dark:bg-red-900/70 dark:text-white/80"
        >
          About Me
        </h3>
        <p
          class="mt-2 text-lg font-medium leading-loose text-gray-700 dark:text-gray-400"
        >
          A digital explorer, builder, and educator living in lovely
          Collingwood, Ontario 🇨🇦&nbsp;with my
          <a
            href="https://www.glovelylocks.ca"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="text-brand hover:underline">wife</a
          >,
          <a
            href="https://www.instagram.com/p/CusR9XqvznU/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="text-brand hover:underline">daughter</a
          >, and
          <a
            href="https://www.instagram.com/p/Bul7hjrHOEV/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="text-brand hover:underline">two cats</a
          >. Passionate about open source, good design, and breakfast foods.
        </p>
      </div>
      <div>
        <h3
          class="inline-block rounded-sm bg-red-100 px-2 py-1 text-sm font-semibold tracking-wide text-brand dark:bg-red-900/70 dark:text-white/80"
        >
          Professionally
        </h3>
        <p
          class="mt-2 text-lg font-medium leading-loose text-gray-700 dark:text-gray-400"
        >
          I'm a developer with over ten years of expertise in helping companies
          build great web experiences. Currently I'm a full-stack engineer at <a
            class="text-[#d14010]"
            href="https://www.felixforyou.ca/"
            target="_blank"
            rel="noopener noreferrer">Felix Health</a
          >, helping to build the best on-demand treatment platform available.
        </p>
      </div>
      <div>
        <h3
          class="inline-block rounded-sm bg-red-100 px-2 py-1 text-sm font-semibold tracking-wide text-brand dark:bg-red-900/70 dark:text-white/80"
        >
          Hobbies
        </h3>
        <p
          class="mt-2 text-lg font-medium leading-loose text-gray-700 dark:text-gray-400"
        >
          I play volleyball, video games, and instruments. I also enjoy Ghibli
          films, severe weather, and bird-watching in my backyard.
        </p>
      </div>
    </div>
    <section class="mt-16 md:flex md:justify-between">
      <div class="projects">
        <h3 class="text-2xl font-light text-gray-500 dark:text-gray-300">
          Projects
        </h3>
        <ul class="mt-6 space-y-4">
          <li>
            <a
              class="text-brand transition-colors hover:text-red-700"
              href="https://www.astralapp.com"
              target="_blank"
              rel="noopener noreferrer nofollow">Astral &rarr;</a
            >
            <p
              class="mt-2 text-base text-gray-700 dark:text-gray-400 sm:text-sm"
            >
              Organize your GitHub Stars with ease
            </p>
          </li>
          <li>
            <a
              class="text-brand transition-colors hover:text-red-700"
              href="https://github.com/knotworks"
              target="_blank"
              rel="noopener noreferrer nofollow">Knot &rarr;</a
            >
            <p
              class="mt-2 text-base text-gray-700 dark:text-gray-400 sm:text-sm"
            >
              A self-hosted social network for families and other small groups
            </p>
          </li>
          <li>
            <div class="flex items-center gap-x-1">
              <span
                class="relative rounded bg-brand px-1 py-0.5 text-[11px] font-medium leading-none tracking-wider text-white sm:-top-px"
                >soon</span
              >
              <a
                class="text-brand transition-colors hover:text-red-700"
                href="https://underwraps.gift/"
                target="_blank"
                rel="noopener noreferrer nofollow">UnderWraps &rarr;</a
              >
            </div>
            <p
              class="mt-2 text-base text-gray-700 dark:text-gray-400 sm:text-sm"
            >
              Beautifully simple gift exchanges
            </p>
          </li>
        </ul>
      </div>
      <div class="social mt-8 md:mt-0">
        <h3 class="text-2xl font-light text-gray-500 dark:text-gray-300">
          Social
        </h3>
        <ul class="mt-6 space-y-4">
          <li>
            <a
              class="text-brand transition-colors hover:text-red-700"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://github.com/syropian">GitHub &rarr;</a
            >
            <p
              class="mt-2 text-base text-gray-700 dark:text-gray-400 sm:text-sm"
            >
              Open source goodness
            </p>
          </li>
          <li>
            <a
              class="text-brand transition-colors hover:text-red-700"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://twitter.com/syropian">Twitter &rarr;</a
            >
            <p
              class="mt-2 text-base text-gray-700 dark:text-gray-400 sm:text-sm"
            >
              Geeky ramblings and such
            </p>
          </li>
          <li>
            <a
              class="text-brand transition-colors hover:text-red-700"
              target="_blank"
              rel="me noopener noreferrer"
              href="https://mastodon.social/@syropian">Mastodon &rarr;</a
            >
            <p
              class="mt-2 text-base text-gray-700 dark:text-gray-400 sm:text-sm"
            >
              Toot toot
            </p>
          </li>
          <li>
            <a
              class="text-brand transition-colors hover:text-red-700"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://twitch.com/syropian">Twitch &rarr;</a
            >
            <p
              class="mt-2 text-base text-gray-700 dark:text-gray-400 sm:text-sm"
            >
              Watch me code live
            </p>
          </li>
          <li>
            <a
              class="text-brand transition-colors hover:text-red-700"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://instagram.com/syropian">Instagram &rarr;</a
            >
            <p
              class="mt-2 text-base text-gray-700 dark:text-gray-400 sm:text-sm"
            >
              Pictures of sunsets and my <s>cats</s> kid
            </p>
          </li>
        </ul>
      </div>
    </section>
  </section>
</Layout>
