---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("./posts/*.mdx");

const formatDate = (date: string | Date) => {
  const d = new Date(date);
  return d.toLocaleDateString("en", {
    month: "long",
    day: "numeric",
    year: "numeric",
  });
};
---

<Layout title="Posts | Syropia">
  <h1 class="text-3xl font-bold leading-normal text-brand">Posts</h1>
  <h2 class="text-3xl font-light leading-normal text-gray-500">
    Technical tidbits for everyday coders
  </h2>
  <section>
    <ul class="mt-10 border-b border-gray-200 divide-y divide-gray-200">
      {
        posts
          .sort(
            (a, b) =>
              new Date(b.frontmatter.createdAt).getTime() -
              new Date(a.frontmatter.createdAt).getTime()
          )
          .map((post) => (
            <li>
              <a href={post.url} class="group py-6 block">
                <small class="block mb-2 text-sm font-semibold tracking-wider text-gray-500 uppercase">
                  {formatDate(post.frontmatter.createdAt)}
                </small>
                <h3 class="text-2xl font-bold group-hover:text-brand text-gray-600 transition-colors">
                  {post.frontmatter.title}
                </h3>
              </a>
            </li>
          ))
      }
    </ul>
  </section>
</Layout>
