---
import { getEntryBySlug } from "astro:content";
import Layout from "../layouts/Layout.astro";

const page = await getEntryBySlug("pages", "uses");

const updatedAt = (page.data.updatedAt as Date).toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const { Content } = await page.render();
---

<Layout meta={page.data}>
  <h1 class="text-3xl font-bold leading-normal text-brand">
    {page.data.title}
  </h1>
  <h2
    class="text-3xl font-light leading-normal text-gray-500 dark:text-gray-300"
  >
    Gear &amp; Software
  </h2>
  <small
    class="block mt-4 text-xs font-semibold tracking-wider text-gray-500 dark:text-gray-400 uppercase"
    >Updated: {updatedAt}</small
  >
  <div class="mt-6 prose dark:prose-invert dark:prose-p:text-gray-300">
    <p>
      This is where I'll try and keep an updated summary of the hardware,
      software, and tooling I use for web development and streaming. Inspired by
      <a href="https://uses.tech/" target="_blank" rel="noopener noreferrer"
        >Uses.tech</a
      >.
    </p>
    <article class="mt-8"><Content /></article>
  </div>
</Layout>
