---
import { ViewTransitions } from 'astro:transitions';
import { ScrollObserver } from 'astro-scroll-observer';
import { SEO } from "astro-seo";

export interface Props {
  meta: {
    title: string;
    type?: string;
    description: string;
    publishedAt?: Date;
  };
}

const { meta } = Astro.props;

const og = {
  basic: {
    title: meta.title === "Home" ? "Syropia" : meta.title,
    type: meta.type || "website",
    image: "https://f001.backblazeb2.com/file/syropia-blog/og_image.png",
  },
  image: {
    alt: "A geometric moose logo with the text syropia.net",
    type: "image/png",
    width: 1200,
    height: 630,
  },
  optional: {
    description: meta.description,
  },
  ...(meta.type === "article" && {
    article: {
      author: "Collin Henderson",
      publishedTime: meta.publishedAt?.toISOString(),
    },
  }),
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fast.fonts.net/cssapi/7befbbc4-a64a-4d13-87f0-377478abd2e7.css"
    />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for syropia.net"
      href="/rss.xml"
    />
    <SEO
      title={`${meta.title} | Syropia`}
      description={meta.description}
      openGraph={og}
      canonical={new URL(Astro.url.pathname, Astro.site).toString()}
      twitter={{
        card: "summary_large_image",
        site: "@syropian",
        creator: "@syropian",
      }}
      extend={{
        meta: [
          {
            name: "twitter:title",
            content: meta.title === "Home" ? "Syropia" : meta.title,
          },
          { name: "twitter:description", content: meta.description },
          {
            name: "twitter:image",
            content:
              "https://f001.backblazeb2.com/file/syropia-blog/og_image.png",
          },
        ],
      }}
    />
    <ViewTransitions />
    <ScrollObserver />
  </head>
  <body class="dark:bg-gray-900">
    <div class="layout mx-auto mt-12 max-w-2xl px-8 md:px-0">
      <header class="flex flex-col items-center sm:flex-row sm:justify-between">
        <a href="/" class="h-10">
          <img
            alt="Syropia"
            src="/logo.svg"
            class="block h-full dark:hidden"
            width="165"
            height="40"
          />
          <img
            alt="Syropia"
            src="/logo-light.svg"
            class="hidden h-full dark:block"
            width="165"
            height="40"
          />
        </a>
        <nav class="mt-8 space-x-8 sm:mt-0">
          <a
            href="/posts"
            class:list={[
              "relative text-sm font-bold tracking-widest uppercase nav-link text-brand",
              { active: Astro.url.pathname.startsWith("/posts") },
            ]}>Posts</a
          >
          <a
            href="/uses"
            class:list={[
              "relative text-sm font-bold tracking-widest uppercase nav-link text-brand",
              { active: Astro.url.pathname.startsWith("/uses") },
            ]}>Uses</a
          >
          <a
            href="mailto:collin@syropia.net"
            class="nav-link relative text-sm font-bold uppercase tracking-widest text-brand"
            >Contact</a
          >
        </nav>
      </header>
      <main class="mt-16 sm:mt-20">
        <slot />
      </main>
      <footer
        class="mb-10 mt-16 flex items-end justify-between sm:items-center"
      >
        <p class="text-sm text-gray-500 dark:text-gray-400">
          <span>&copy; {new Date().getFullYear()} Collin Henderson.</span>
          <br class="block sm:hidden" />
          <span>Don't steal my stuff pls.</span>
        </p>
        <a href="/rss.xml" target="_blank" class="group">
          <span class="sr-only">RSS Feed</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5 text-gray-500 transition-colors hover:text-brand dark:text-gray-400"
            aria-hidden
          >
            <path
              d="M3.75 3a.75.75 0 00-.75.75v.5c0 .414.336.75.75.75H4c6.075 0 11 4.925 11 11v.25c0 .414.336.75.75.75h.5a.75.75 0 00.75-.75V16C17 8.82 11.18 3 4 3h-.25z"
            ></path>
            <path
              d="M3 8.75A.75.75 0 013.75 8H4a8 8 0 018 8v.25a.75.75 0 01-.75.75h-.5a.75.75 0 01-.75-.75V16a6 6 0 00-6-6h-.25A.75.75 0 013 9.25v-.5zM7 15a2 2 0 11-4 0 2 2 0 014 0z"
            ></path>
          </svg>
        </a>
      </footer>
    </div>
    <style>
      header nav a::after {
        @apply absolute bottom-[-5px] left-0 h-0.5 w-full origin-right scale-x-0 bg-brand transition-transform content-[''];
      }

      header nav a.active::after,
      header nav a:hover::after {
        @apply origin-left scale-x-100;
      }
    </style>
  </body>
</html>
