---
import Layout from "../layouts/Layout.astro";
import type { MDXLayoutProps } from "astro";

type Props = MDXLayoutProps<{
  title: string;
  description: string;
  publishedAt: string;
  updatedAt?: string;
}>;

const { frontmatter } = Astro.props;

const createdAt = new Date(frontmatter.publishedAt).toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const meta = {
  title: frontmatter.title,
  description: frontmatter.description,
  publishedAt: frontmatter.publishedAt,
  type: "article",
};
---

<Layout meta={meta}>
  <article
    class="mt-8 prose prose-slate dark:prose-invert dark:prose-p:text-gray-300"
  >
    <small
      class="block mb-2 text-sm font-semibold tracking-wider text-gray-500 uppercase dark:text-gray-400"
      >{createdAt}</small
    >
    <h1 class="text-2xl sm:text-4xl">{frontmatter.title}</h1>
    <slot />
  </article>
</Layout>
